@model Lab09.Models.Patient
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h1>Create new Patient</h1>
@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(p => p.PatientName)
            @Html.EditorFor(p => p.PatientName)
            @Html.ValidationMessageFor(p => p.PatientName)
        </div>
        <div>
            @Html.LabelFor(p => p.JoinDate)
            @Html.EditorFor(p => p.JoinDate)
            @Html.ValidationMessageFor(p => p.JoinDate)
        </div>
        <div>
            @Html.LabelFor(p => p.Address)
            @Html.EditorFor(p => p.Address)
            @Html.ValidationMessageFor(p => p.Address)
        </div>
        <div>
            @Html.LabelFor(p => p.Description)
            @Html.EditorFor(p => p.Description)
            @Html.ValidationMessageFor(p => p.Description)
        </div>
        <br />
        <div>
            <input type="submit" value="Create" class="btn-success" />
        </div>
    </div>
    <div>
        <h3 style="color:red">@ViewData["Msg"]</h3>
    </div>
}


