@model IEnumerable<Lab10.Models.vSkillProgrammer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
}

<h2>Programmer List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
           
        </tr>
}
    </tbody>
</table>
