@model IEnumerable<Lab10.Models.Programmer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
}

<h2>Hi @ViewBag.name</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgrammerCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgrammerCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgrammerCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
