@model IEnumerable<Core3.Models.Computer>
@{
    ViewData["Title"] = "Index";
}
<h2>List of Computer</h2>
<p>
    @Html.ActionLink("Create new", "Create", "Computer")
</p>

@using (Html.BeginForm())
{
    <input type="number" name="min" placeholder="Enter min price" />
    <input type="number" name="max" placeholder="Enter max price" />
    <input type="submit" value="Filter" class="btn-warning" />
}
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Photo</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NAME</td>
            <td>@item.DESCRIPTION</td>
            <td>@item.PRICE</td>
            <td>@item.Quantity</td>
            <td><img src="@item.PHOTO" width="90" /></td>
            <td>
                @Html.ActionLink("ViewDetails", "Details", "Computer", new { id = item.ID })
                @Html.ActionLink("Update or Delete", "UpUpdateOrDelete", "Computer", new { id = item.ID })
            </td>
        </tr>
    }
</table>