@model IEnumerable<Student1218312.Models.tbProject>
@{
    ViewData["Title"] = "Index";
}
<br />
<p>
    @Html.ActionLink("Create New", "CreateNewProject", "tbProject")
</p>

<h2>List of Projects</h2>

<table class="table">
    <tr>
        <th>Client Name</th>
        <th>Project Name</th>
        <th>Start Date</th>
        <th>Cost</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ClientName</td>
            <td>@item.ProjectName</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>
                @Html.ActionLink("View Details", "UpdateOrRemove", new { id = item.ProjectCode })
            </td>
        </tr>
    }
</table>

