@model Lab5.Models.Payment
@{ ViewData["Title"] = "Edit"; }

<h2>Edit Payment</h2>
<p>
    <h3>@ViewBag.Msg </h3>
</p>
<br />
@using (Html.BeginForm())
{
<div>
    @*phai co HiddenFor cho phan Update *@
    <div>
        @Html.HiddenFor(model => model.PaymentCode)
    </div>
    <div>
        @Html.LabelFor(model => model.PaymentCode)
        @Html.EditorFor(model => model.PaymentCode)
        @Html.ValidationMessageFor(model => model.PaymentCode)
    </div>
    <div>
        @Html.LabelFor(model => model.ProjectCode)
        @Html.EditorFor(model => model.ProjectCode)
        @Html.ValidationMessageFor(model => model.ProjectCode)
    </div>
    <div>
        @Html.LabelFor(model => model.ProjectName)
        @Html.EditorFor(model => model.ProjectName)
        @Html.ValidationMessageFor(model => model.ProjectName)
    </div>
    <div>
        @Html.LabelFor(model => model.Budget)
        @Html.EditorFor(model => model.Budget)
        @Html.ValidationMessageFor(model => model.Budget)
    </div>
    <div>
        @Html.LabelFor(model => model.Fee)
        @Html.EditorFor(model => model.Fee)
        @Html.ValidationMessageFor(model => model.Fee)
    </div>
    <br />
    <div>
        <input type="submit" value="Edit" class="btn-warning" />
    </div>
</div>}
<br />
<div>
    @Html.ActionLink("Back to list", "Index", "Payment")
</div>